
table.dataTable thead th, 
table.dataTable tbody td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.single_item_table {
    margin: 0 auto;
    clear: both;
    table-layout: fixed;
    word-wrap:break-word;
}
table.dataTable {
    width: 100%;
    max-width: 1300px;
    table-layout: fixed;
    margin: 0 auto;
}
.hash_result_body {
    margin: 0;
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.copyable:active {
    transform: scale(0.9);
}
.clicked {
    background-color: #eee;  /* Or any color you prefer */
    transition: background-color 0.5s ease;
  }  